<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="te mostramos la moda en pacha, nuestro paso a paso">
        <meta name="keywords" content="blog, tienda, online, moda">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Pacha Blog</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <header>
        <a href="../index.html"><img src="../img/pachalogo1.png" class="logo" alt="logo Pacha"></a>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="https://www.pachasf.com.ar/" target="_blank" rel="noopener">Pacha Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="Blog.html">Pacha Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="pachastyle.html">Pacha Style</a></li>
                        <li class="nav-item"><a class="nav-link" href="mayorista.html">Mayoristas</a></li>
                        <li class="nav-item"><a class="nav-link" href="historia.html">Historia</a></li>
                        <li class="nav-item"><a class="nav-link" href="Contacto.html">Contacto</a></li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <h1 class="title">PACHA BLOG</h1>
    </header>
    <main>
    <!-- img + p blog 1-->
        <div>
            <div class="card mb-3" style="max-width: 540px;">
                <figure class="row g-0">
                    <div class="col-md-4">
                        <img src="../img/blog1.svg" class="img-fluid rounded-start" alt="foto Pachi vistiendo remeron forever">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <figcaption class="card-title">Creando Pacha</figcaption>
                            <p class="card-text">Hola, soy Pachi, bienvenidos a Pacha, este mundo que cree donde puedo volcar todo lo que soy y quiero compartir
                                La moda es este espacio donde me siento yo, donde puedo compartir lo que siento sin limites.</p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    <!-- img+p blog 2-->
        <div>
            <div class="card mb-3" style="max-width: 540px;">
                <figure class="row g-0">
                    <div class="col-md-4">
                        <img src="../img/blog2.svg" class="img-fluid rounded-start" alt="foto de Pachi vistiendo Pacha">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <figcaption class="card-title">Cómo elegimos los looks?</figcaption>
                            <p class="card-text">Suelen decirnos que nos caracterizamos por innovar, por poder encontrar en Pacha productos que no ven usualmente.
                                Creemos que eso va con el estilo de cada una y somos felices de poder acompañarlas a elegir su look cada día.</p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <!-- img+p blog 3-->
        <div>
            <div class="card mb-3" style="max-width: 540px;">
                <figure class="row g-0">
                    <div class="col-md-4">
                        <img src="../img/blog3.svg" class="img-fluid rounded-start" alt="foto cardigan jazmin">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <figcaption class="card-title">Shooting</figcaption>
                            <p class="card-text">Parte de este hermoso proceso de crear, es el shooting. A veces encontramos personas con las que conectamos, a veces tenemos tiempo de hacer exteriores
                                Esta foto la hicimos camino al norte, donde fuimos a encontrarnos con uno de nuestros fabricantes. El cardigan Jazmin, uno de sus preferidos.</p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">2022 Pacha Store</p>
        <a href="https://www.instagram.com/pacha.sf/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" title="pachagram">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="https://www.pachasf.com.ar/" class="nav-link px-2 text-muted">Tienda</a><img src="../img/logo2.svg" alt=""></li>
            <li class="nav-item"><a href="https://www.instagram.com/pacha.sf/" class="nav-link px-2 text-muted">Instagram</a><img src="../img/logoig.svg" alt="logo instagram"></li>
            <li class="nav-item"><a href="https://wa.me/543425034584" class="nav-link px-2 text-muted">WhatsApp</a><img src="../img/logowa.svg" alt="logo whatsapp"></li>
            <li class="nav-item"><a href="mailto:pachaonline.sf@hotmail.com" class="nav-link px-2 text-muted">E-mail</a><img src="../img/logomail.svg" alt="imagen carta email"></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>