<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="enncontra pacha desde donde estes">
        <meta name="keywords" content="contacto, tienda, online, envios">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Contacto</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <!--header + nav bar-->
    <header>
        <a href="../index.html"><img src="../img/pachalogo1.png" class="logo" alt="logo Pacha"></a>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="https://www.pachasf.com.ar/" target="_blank">Pacha Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="Blog.html">Pacha Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="pachastyle.html">Pacha Style</a></li>
                        <li class="nav-item"><a class="nav-link" href="mayorista.html">Mayoristas</a></li>
                        <li class="nav-item"><a class="nav-link" href="historia.html">Historia</a></li>
                        <li class="nav-item"><a class="nav-link" href="Contacto.html">Contacto</a></li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <h1 class="title">PACHA CONTACTO</h1>
    </header>
    <main class="main">
        <section class="main__box">
            <form action="envio.php">
                <fieldset class="contenedor">
                    <legend>Información Personal</legend>
                    <label for="name">Nombre</label> <input class="nombre" type="text" id="name" placeholder="soy...">
                    <label for="email">E-mail</label><input type="email" id="email"placeholder="tumail@...com">
                    <input class="email" type="submit" name="Enviar" id="button">
                </fieldset>
                <fieldset class="contenedor">Mensaje
                    <label for="mensaje"></label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    <input type="submit" name="enviar" id="mensaje" value="Enviar">
                </fieldset>
                </form>
        </section>
        <section class="main__box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.2986753357604!2d-60.71720248518616!3d-31.653047414905433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9aead13b77b%3A0x91dcf9fe06ebcdfd!2sUrquiza%201868%2C%20S3000%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1657803916185!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted"> > 2022 Pacha Store</p>
        <a href="https://www.instagram.com/pacha.sf/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="https://www.pachasf.com.ar/" class="nav-link px-2 text-muted">Tienda</a><img src="../img/logo2.svg" alt=""></li>
            <li class="nav-item"><a href="https://www.instagram.com/pacha.sf/" class="nav-link px-2 text-muted">Instagram</a><img src="../img/logoig.svg" alt="logo instagram"></li>
            <li class="nav-item"><a href="https://wa.me/543425034584" class="nav-link px-2 text-muted">WhatsApp</a><img src="../img/logowa.svg" alt="logo whatsapp"></li>
            <li class="nav-item"><a href="mailto:pachaonline.sf@hotmail.com" class="nav-link px-2 text-muted">E-mail</a><img src="../img/logomail.svg" alt="imagen carta email"></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>